{% extends "admin.html" %}
{% from "macros/buttons.html" import link, submit_button %}

{% block contentsubheading %}Edit user {{ username }}{% endblock %}

{% block administrationcontent %}
<form action="/admin/users/edit" method="post" class="flex flex-col gap-4">
    <input type="hidden" name="username" value="{{ username }}" />
    <input type="hidden" name="redirect_to" value="{{ redirect_to }}" />

    <p>
        Username: {{ username }}
    </p>

    <p>Roles:</p>
    <div class="flex flex-col gap-4 ml-4">
        {% for role in all_roles %}
        <label>
            <input type="checkbox" name="roles" value="{{ role }}" {% if role in current_roles %}checked{% endif %} class="mr-2">
            {{role }}
        </label>
        {% endfor %}
    </div>

    <div class="flex gap-4 mt-4">
        {{ submit_button("is-success", "Save changes") }}
        {{ link("is-danger", redirect_to, "Cancel") }}
    </div>
</form>
{% endblock %}