{% extends "admin.html" %}
{% from "macros/buttons.html" import link with context %}
{% block content_subheading %}User management{% endblock %}

{% block admin_content %}
<table class="w-full">
    <tr>
        <th>Username</th>
        <th></th>
    </tr>
    {% for user in users %}
    <tr class="hoverable">
        <td>
            <a href="/admin/users/edit?username={{ user['username'] }}&redirect_to=/admin/users">
                {{user['username'] }}
        </td>
        <td class="flex items-center justify-end">
            {{ link("is-info", "/admin/users/edit?username=" + user["username"] + "&redirect_to=/admin/users", "Edit")
            }}
        </td>
    </tr>
    {% endfor %}
</table>
<div class="text-right">
    {{ link('is-success', '/admin/users/new', 'Create new user') }}
</div>
{% endblock %}