{% extends "admin.html" %}
{% from "macros/buttons.html" import link with context %}
{% block contentsubheading %}User management{% endblock %}

{% block administrationcontent %}
<table class="w-full highlightrows">
    <tbody>
        <tr>
            <th class="text-left">Username</th>
            <th></th>
        </tr>
        {% for user in users %}
        <tr class="highlightable">
            <td class="text-left"><a
                    href="/admin/users/edit?username={{ user['username'] }}&redirect_to=/admin/users">{{
                    user['username'] }}</td>
            <td class="text-right">{{ link('is-link', '/admin/users/edit?username=' + user['username'] +
                '&redirect_to=/admin/users', 'Edit') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-right">
    {{ link('is-success', '/admin/users/new', 'Create new user') }}
</div>
{% endblock %}