{% extends "base.html" %}
{% from 'macros/navbar.html' import navbar %}
{% from "macros/flashedmessages.html" import flashedmessages %}

{% block pagecontent %}
<header class="fixed top-0 left-0 w-full h-20 z-10 shadow-md">
    {{ navbar(roles, name) }}

</header>

{{ flashedmessages() }}

<section id="content" class="mt-24 p-2">
    <div id="#hero">
        <div>{% block contentheading %}{% endblock %}</div>
        <h2>{% block contentsubheading %}{% endblock %}</h2>
    </div>

    <hr />

    {% block maincontent %}{% endblock %}
</section>


{% endblock %}