{% extends "base.html" %}
{% from 'macros/navbar.html' import navbar %}
{% from "macros/flashed_messages.html" import flashed_messages %}

{% block page_content %}
<header class="fixed top-0 left-0 z-10 w-full h-20 shadow-md">
    {{ navbar(roles, name) }}

</header>

{{ flashed_messages() }}

<section id="content" class="p-2 mt-24">
    <div id="#hero">
        <div>{% block content_heading %}{% endblock %}</div>
        <h2>{% block content_subheading %}{% endblock %}</h2>
    </div>

    <hr />

    {% block main_content %}{% endblock %}
</section>


{% endblock %}