<!DOCTYPE html>
<html lang="es">

<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - DMS 21/22</title>
</head>

<body class="flex flex-col justify-between min-h-screen">
    <div class="flex flex-col flex-1">{% block page_content %}{% endblock %}</div>
    <footer class="w-screen p-2 bg-gray-800 text-white shadow-md text-sm">
        {% block footer %}{% endblock %}

        <p>Authors: {{ authors }}</p>
        <p>Universidad de Burgos - Dise&ntilde;o y Mantenimiento del Software, year 2021-2022.</p>
    </footer>
</body>

</html>