{% extends "base.html" %}
{% from "macros/flashedmessages.html" import flashedmessages %}
{% from "macros/buttons.html" import submit_button %}
{% block title %}Log in{% endblock %}
{% block pagecontent %}
    {{ flashedmessages() }}
    <div id="login-form" class="flex-1 flex items-center justify-center flex-col">
        <h3 class="aligncenter">Log in</h3>
        <form action="login" method="post">
            <input type="text" name="user" placeholder="Username" class="input is-primary" autofocus />
            <input type="password" name="pass" placeholder="Password" class="input is-primary" />
            <p class="aligncenter">{{ submit_button('is-primary', 'Log in') }}</p>
        </form>


    </div>
{% endblock %}
