{% macro link(color_class, href, content, disabled=False) %}
<a class="{{ color_class }} {% if disabled %}pointer-events-none opacity-50 cursor-not-allowed{% endif %} button" href="{{ href }}">
  {{ content}}
</a>
{% endmacro %}

{% macro button(color_class, content, onclick=None, type="button", disabled=False) %}
<button class="button {{ color_class }} {% if disabled %}disabled{% endif %}" {% if onclick %}onclick="{{ onclick }}" type={{type}} {%endif%}>
  {{ content}}
</button>
{% endmacro %}

{% macro submit_button(color_class, content, disabled=False) %}
{{ button(color_class, content, 'this.closest(\'form\').submit();return false;', "submit", disabled) }}
{% endmacro %}