{% macro navbar(roles, name) %}
{% from "macros/buttons.html" import link with context%}


<nav id="nav" class="flex items-center justify-between w-full h-full px-4 text-white bg-blue-400" role="navigation">
    <div id="links" class="flex gap-4">
        <a href="/">UBUQuestions</a>

        {%- if 'Student' in roles -%}
        <a href="/student">Student</a>
        {%- endif -%}

        {%- if 'Teacher' in roles -%}
        <a href="/teacher">Teacher</a>
        {%- endif -%}

        {%- if 'Admin' in roles -%}
        <a href="/admin">Admin</a>
        {%- endif -%}
    </div>
    <div class="flex items-center gap-4">
        {% if name %}
        {{ name }}
        {% else %}
        Annonymous
        {% endif %}

        {{ link("is-light is-outlined", "/logout", "Log Out")}}
    </div>
</nav>
{% endmacro %}