{% macro nav_link(href, endpoint, text) %}
<a href="{{href}}" {% if request.endpoint == endpoint %}class="nav-active"{% endif%}>{{text}}</a>
{% endmacro %}

{% macro navbar(roles, name) %}
{% from "macros/buttons.html" import link with context%}


<nav id="nav" class="flex items-center justify-between w-full h-full px-4 text-white bg-blue-400" role="navigation">
    <div id="links" class="flex gap-4 items-center">
        <a href="/" class="logo">
            <img src="/static/svg/logo-inverse.svg" alt="Logo" class="h-12 w-12" />
        </a>

        {%- if "Student" in roles -%}
        {{nav_link("/student", "get_student", "Student")}}
        {%- endif -%}

        {%- if "Teacher" in roles -%}
        {{nav_link("/teacher", "get_teacher", "Teacher")}}
        {%- endif -%}

        {%- if "Admin" in roles -%}
        {{nav_link("/admin", "get_admin", "Admin")}}
        {%- endif -%}
    </div>
    <div class="flex items-center gap-4">
        {% if name %}
        {{ name }}
        {% else %}
        Annonymous
        {% endif %}

        {{ link("is-light is-outlined", "/logout", "Log Out")}}
    </div>
</nav>
{% endmacro %}