{% macro question(question, isTeacher=False, showAnswer=False, userAnswer=None, date=None) %}
<div class="flex question justify-between items-center  my-4" id="{{question.id}}">
    <div class="flex-1 flex flex-col items-start gap-4">
        <h2 class="select-none">{{ question.title }}:</h2>
        <h3 class="select-none">{{ question.statement }}</h3>

        <ul class="w-full p-4 flex flex-col gap-2 bg-red-100 rounded-lg border-2 border-red-300">
            {% for a in question.getAnswers() %}
            <li class="relative">
                <span class="absolute -left-3">{% if showAnswer and a == question.correctAnswer %}
                    👌
                    {% elif showAnswer and a == userAnswer %}
                    ❌
                    {% endif %}
                </span>
                <input type="radio" class="ml-3" value="{{ a }}" name="{{ question.id }}" id="{{ a }}" {% if showAnswer
                    %} disabled{% endif %} {% if a==userAnswer %} checked {% endif %} />
                <label
                    class="select-none {% if showAnswer and a == question.correctAnswer %} text-green-500 {% elif showAnswer and a == userAnswer %} text-red-500 {% endif %}"
                    for="{{ a }}">
                    {{ a }}
                </label>
            </li>
            {% endfor %}
        </ul>

        {% if not showAnswer %}
        <button id="clear-radios-{{ question.id }}" class="button is-danger" type="button">
            Clear
        </button>
        {% endif %}

        {%if date%}
        <p>Answered on: {{date}}</p>
        {%endif%}

        <p>Score: {{ question.score }} | Penalty: {{ question.penalty }}</p>

        {% if isTeacher %}
        <p>
            Total Answers: {{ question.numberOfCorrectAnswers }} | Total Score: {{ question.getTotalScore() }}
        </p>
        {% endif %}
    </div>

    {% if question.image_url | length > 0 %}
    <div class="overflow-hidden rounded-lg shadow-md mx-10">
        <img src="{{ question.image_url }}" alt="Foto" />
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    document.getElementById(`clear-radios-${"{{ question.id }}"}`).addEventListener("click", () => {
        const question = document.getElementById("{{ question.id }}");
        const radios = question.getElementsByTagName("input");

        for (radio of radios) {
            radio.checked = false;
        }
    });
</script>

{% endmacro %}


{% macro answeredQuestion(answeredQ) %}
{{ question(answeredQ.question, showAnswer=True, userAnswer=answeredQ.answer, date= answeredQ.date) }}
{% endmacro %}