{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Student{% endblock %}
{% from "macros/question.html" import answeredQuestion with context %}
{% from "macros/buttons.html" import link with context %}

{% block content_subheading %}Answered Questions{% endblock %}
{% block content_heading %}
<div class="flex flex-row justify-between w-full">
    <nav class="breadcrumb is-right" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/student">Unanswered Questions</a></li>
            <li class="is-active"><a href="/student/answered" aria-current="page">Answered Questions</a></li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block main_content %}
    {% block answered_content %}
        <div class="bg-green-300 border-2 border-green-600 rounded">
            <h3>Your Results</h3>
            <p>Your Score: <b>{{ total_score }}</b></p>
            <p>You have answered correctly <b>{{ total_correct }} out of {{ total_questions }}</b> questions
                (<b>{{ "%.2f"|format(total_correct / total_questions * 100 if  total_questions else 50.00) }}%</b>)</p>
        </div>

        <form>
            {% for q in questions %}
            {{ answeredQuestion(q) }}
            <hr />
            {% endfor %}
        </form>
    {% endblock %}
{% endblock %}