{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle%}{%endblock %}Teacher{% endblock %}
{% from "macros/buttons.html" import link, submit_button, button with context %}
{% from "macros/breadcrumb.html" import breadcrumb with context %}

{% block content_heading %}
{{breadcrumb([["Teacher Panel", "/teacher"], 
							["Set Answers", "/teacher/answers"]] )}}
{% endblock %}

{% block content_subheading %}Set the answers{% endblock %}

{% block main_content %}
{% block teacher_content %}
<div class="flex flex-col items-center w-full">
	<form
		class="w-full max-w-xl bg-yellow-50 border-yellow-400"
		action="/teacher/preview"
		method="post"
	>	
			{%if n_answers > 0 %}
      <div class="field-group flex flex-col gap-2">
				<label class="label"
				>Correct answer
					<input
						class="input is-success"
						name="correctAnswer"
						type="text"
						placeholder="This is the correct answer"
						required
						autofocus="autofocus"
						minlength="2"
					/>
				</label>
				
				{% for i in range(1, n_answers) %}
				<label class="label"
					>Incorrect Answer {{ i }}
					<input
						class="input is-danger"
						name="answer{{ i + 1 }}"
						type="text"
						placeholder="Answer {{ i + 1 }}"
						required
					/>
				</label>
				{% endfor %}

				<div class="flex flex-row justify-end">
					<input type="submit" class="button is-warning" value="Create Question" />
				</div>
      </div>
			{% endif %}
	</form>
</div>
{% endblock %}
{% endblock %}
