{% extends "base_logged_in.html" %}
{% from "macros/buttons.html" import link, submit_button, button with context %}
{% block title %}{% block subtitle%}{%endblock %}Teacher{% endblock %}

{% block content_heading %}
<div class="flex flex-row items-center justify-between w-full">
	<nav class="breadcrumb" aria-label="breadcrumbs">
		<ul>
			<li><a href="/">Home</a></li>
			<li>
				<a href="/teacher">
					Teacher Panel
				</a>
			</li>
			<li class="is-active">
				<a href="/teacher/new" aria-current="page">
					New Question
				</a>
			</li>
		</ul>
	</nav>
</div>
{% endblock %}

{% block content_subheading %}Create a new question{% endblock %}

{% block main_content %}
{% block teacher_content %}
<div class="flex flex-col items-center w-full">
	<form
		class="w-full max-w-xl bg-yellow-50 border-yellow-400"
		action="/teacher/new/confirm"
		method="post"
	>
		<div class="field-group flex flex-col gap-2">
			<label class="label"
				>Title
				<input
					class="input is-dark"
					name="title"
					type="text"
					placeholder="Question Title"
					required
					minlength="3"
					value="{{ title }}"
				/>
			</label>

			<label class="label"
				>Statement
				<textarea
					class="textarea is-dark"
					placeholder="Type your question statement here!"
					name="statement"
					required
					value="{{ statement }}"
				></textarea>
			</label>

			<label class="label"
				>Score
				<input
					class="input is-dark"
					name="score"
					type="number"
					placeholder="Score"
					required
					min="0"
					value="{{ score }}"
				/>
			</label>

			<label class="label"
				>Penalty
				<input
					class="input is-dark"
					name="penalty"
					type="number"
					placeholder="Penalty"
					required
					min="0"
					max="100"
					value="{{ penalty }}"
				/>
			</label>

			<label class="label"
				>Image URL
				<input
					class="input is-dark"
					name="imageUrl"
					type="text"
					placeholder="Image URL"
					value="{{ imageUrl }}"
				/>
			</label>

			<label class="label"
				>Number of Answers
				<input
					class="input is-dark"
					name="numberOfAnswers"
					type="number"
					placeholder="Number of Answers"
					required
					min="1"
				/>
			</label>

			<div class="flex flex-row justify-end">
				<input type="submit" class="button is-dark" value="Add Answers" />
			</div>
		</div>
	</form>
</div>
{% endblock %}
{% endblock %}
