{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle%}{%endblock %}Teacher{% endblock %}
{% from "macros/buttons.html" import link, submit_button, button with context %}
{% from "macros/breadcrumb.html" import breadcrumb with context %}

{% block content_heading %}
{{breadcrumb([["Teacher Panel", "/teacher"], 
              ["New Question", "/teacher/new"]] )}}
{% endblock %}

{% block content_subheading %}Create a new question{% endblock %}

{% block main_content %}
{% block teacher_content %}
<div class="flex flex-col items-center w-full">
	<form
		class="w-full max-w-xl bg-yellow-50 border-yellow-400"
		action="/teacher/new/answers"
		method="post"
	>
		<div class="field-group flex flex-col gap-2">
			<label class="label"
				>Title
				<input
					class="input is-dark"
					name="title"
					type="text"
					placeholder="Question Title"
					required
					minlength="3"
					value="{{ q.title }}"
				/>
			</label>

			<label class="label"
				>Statement
				<textarea
					class="textarea is-dark"
					placeholder="Type your question statement here!"
					name="statement"
					required
					value="{{ q.statement }}"
				></textarea>
			</label>

			<label class="label"
				>Score
				<input
					class="input is-dark"
					name="score"
					type="number"
					placeholder="Score"
					required
					min="0"
					value="{{ q.score }}"
				/>
			</label>

			<label class="label"
				>Penalty
				<input
					class="input is-dark"
					name="penalty"
					type="number"
					placeholder="Penalty (%)"
					required
					min="0"
					max="100"
					value="{{ q.penalty }}"
				/>
			</label>

			<label class="label"
				>Image URL
				<input
					class="input is-dark"
					name="imageUrl"
					type="text"
					placeholder="Image URL"
					value="{{ q.imageUrl }}"
				/>
			</label>

			<label class="label"
				>Number of Answers
				<input
					class="input is-dark"
					name="numberOfAnswers"
					type="number"
					placeholder="Number of Answers"
					required
					min="1"
					max="10"
				/>
			</label>

			<div class="flex flex-row justify-end">
				<input type="submit" class="button is-warning" value="Add Answers" />
			</div>
		</div>
	</form>
</div>
{% endblock %}
{% endblock %}
