{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Teacher{% endblock %}

{% from "macros/breadcrumb.html" import breadcrumb with context %}
{% block content_heading %}
{{breadcrumb([["Teacher Panel", "/teacher"], 
							["Set Answers", "/teacher/stats"]] )}}
{% endblock %}

{% block content_subheading %}User Stats{% endblock %}

{% block main_content %}
{% block teacher_content %}
<div>
	<ul>
	{% for s in stats%}
			<li><b>{{s.id}}<b/> has a score of <b>{{s.score}}<b/>, has answered correctly <b>{{s.n_correct}}<b/> out of <b>{{s.n_answered}}<b/> <b>({{s.ok_percent}}%)<b/></li>
	{% endfor %}
	</ul>


</div>
{% endblock %}
{% endblock %}