{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Teacher{% endblock %}

{% from "macros/breadcrumb.html" import breadcrumb with context %}
{% block content_heading %}
{{breadcrumb([["Teacher Panel", "/teacher"], 
							["Set Answers", "/teacher/stats"]] )}}
{% endblock %}

{% block content_subheading %}User Stats{% endblock %}

{% block main_content %}
{% block teacher_content %}
	{% if not questions %}
		<form>
				<p>There are no use stats</p>
		</form>
		{% else %}
		<table class="w-full">
			<tr>
				<th>Username</th>
				<th>Score</th>
				<th>Correct Answers</th>
				<th>Total answered</th>
				<th>%</th>
			</tr>
			{% for s in stats%}
			<tr>
				<td>{{s.id}}</td>
				<td>{{s.score}}</td>
				<td>{{s.n_correct}}</td>
				<td>{{s.n_ans}}</td>
				<td>{{s.ok_percent}}</td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}
{% endblock %}