{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Student{% endblock %}
{% from "macros/question.html" import answeredQuestion with context %}
{% from "macros/buttons.html" import link with context %}
{% from "macros/question.html" import question with context %}
{% from "macros/breadcrumb.html" import breadcrumb with context %}

{% block content_heading %}
{{ breadcrumb([["Unanswered Questions", "/student"], 
               ["Question Iterator", "/student/iterator"]]) }}
{% endblock %}

{% block content_subheading %}Unanswered Questions{% endblock %}

{% block main_content %}
{% block iterator_content %}
<form method="post">
    {{ question(quest, userAnswer=answer) }}

    <div class="flex gap-4">
        <div class="buttons has-addons is-centered">
            
            <input {% if prev %} formaction="{{ " /student/iterator/"+prev }}" {% else %} disabled {% endif %} class="button is-info is-outlined" type="submit"
                value="Previous Question" />
            


            {% if next %}
            <input formaction="{{ " /student/iterator/"+next }}" class="button is-info is-outlined" type="submit"
                value="Next Question" />
            {% endif %}
        </div>

        {% if isLast %}
        <input formaction="/student/iterator/submit" class="button is-primary" type="submit" value="Submit Answers" />
        {% endif %}
    </div>

    <input name="questionId" type="hidden" value={{questionId}}>
</form>
{% endblock %}
{% endblock %}