{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Student{% endblock %}
{% from "macros/question.html" import question with context %}
{% from "macros/buttons.html" import link, button with context %}

{% block content_heading %}
<div class="flex flex-row items-center justify-between w-full">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active">
                <a href="/student" aria-current="page">
                    Unanswered Questions
                </a>
            </li>
        </ul>
    </nav>
    {{ link("is-info", "student/answered", "Already Answered") }}
</div>
{% endblock %}

{% block content_subheading %}Unanswered Questions{% endblock %}

{% block main_content %}
<form action="/student/answer" method="post">
    {% if not questions %}
    <p>There are no questions left to answer</p>
    {%else %}
    <div class="flex justify-end w-full space-x-4">
        <input formaction="/student/iterator" name="submit" class="button is-light is-info" type="submit"
            value="Question Iterator" />
        {{ button("is-info", "Send Answers", type="submit")}}
    </div>

    {% block student_content %}
    <div>
        {% for q in questions %}
        {{ question(q) }}
        <hr />
        {% endfor %}
    </div>
    {% endblock %}

    <div class="flex justify-end w-full space-x-4">
        <input formaction="/student/iterator" name="submit" class="button is-light is-info" type="submit"
               value="Question Iterator" />
        {{ button("is-info", "Send Answers", type="submit")}}
    </div>
    {% endif %}

</form>
{% endblock %}