{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Student{% endblock %}
{% from "macros/question.html" import question with context %}
{% from "macros/buttons.html" import link, button with context %}
{% from "macros/breadcrumb.html" import breadcrumb with context %}

{% block content_heading %}
{{ breadcrumb(
    paths=[["Unanswered Questions", "/student"]],
    extra=link("is-info", "student/answered", "Already Answered") )}}
{% endblock %}

{% block content_subheading %}Unanswered Questions{% endblock %}

{% block main_content %}
<form action="/student/answered" method="post">
    {% if not questions %}
    <p>There are no questions left to answer</p>
    {%else %}
    <div class="flex justify-end w-full space-x-4">
        <input formaction="/student/iterator" name="submit" class="button is-light is-info" type="submit"
            value="Question Iterator" />
        {{ button("is-info", "Send Answers", type="submit")}}
    </div>

    {% block student_content %}
    <div>
        {% for q in questions %}
        {{ question(q) }}
        <hr />
        {% endfor %}
    </div>
    {% endblock %}

    <div class="flex justify-end w-full space-x-4">
        <input formaction="/student/iterator" class="button is-light is-info" type="submit"
               value="Question Iterator" />
        {{ button("is-info", "Send Answers", type="submit")}}
    </div>
    {% endif %}

</form>
{% endblock %}